<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<head>
  <style>
 a.offscreen {
position:absolute;
left:-1000px;
top:-1000px;
width:1px;
height:1px;
text-align: left; 
overflow:hidden;
}

a.offscreen:focus, a.offscreen:active, a.offscreen:hover { 
position:absolute; 
left:0; 
top:0; 
width:auto; 
height:auto; 
overflow:visible;
background-color: white;
border: 1px dotted #000;
}
  </style>
  </head>
  <body>
    

<div id="skip-nav" class="reveal">
<a href="#main-content" class="offscreen">Skip to Content</a>
</div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <a name="main-content" ></a> 
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
