<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<head>
  <style>
    .reveal a:link {
  color: black;
}

.reveal a:active,
.reveal a:focus {
  background: white;
}
  </style>
  </head>
  <body>
    

<div id="skip-nav" class="reveal">
  <a href="#main-content"><?php print t('Skip to main content'); ?></a>
</div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <a name="main-content" tabindex="-1"></a>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
