---
layout: default
---
<html>
  <head>
    <style>
      img {
        padding: 12px;
      }
    </style>
  </head>
</html>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  
  

 <h2 style="padding-top:20px;" class="post-list-heading">{{ page.list_title | default: "Recent Updates" }}</h2>
 <ul class="post-list">
    {% for post in paginator.posts %}
      <hr>
      <li style="overflow: auto;">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
  <hr>
<a href="/updates/" style="padding-bottom: 20px;" class="archive">See All </a>
   
  
    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>

</div>
